*{
  margin: 0;
  padding: 0;
}
body{

}
nav.menu{

}
section.content{
  background-color:gray;
  padding: 10px;
  min-width: 80%;
}
header{
  position: relative;
  margin:10px;
}
header hgroup{
  position: absolute;
  top: 10px;
  left: 10px;
}
header .perfil{
  position: absolute;
  height: 400px;
  width: 300px;
  top: 10px;
  left: 10px;
}
header .backgroud{
  position: absolute;
  height: 1000px;
  width: 2000px;
}
