#query{
  bottom: 0;
  height: 50px;
  width: calc(100% - 320px);
}
#content{
  background-color: white;
  position: absolute;
  height: calc(100% - 70px);
  width: calc(100% - 320px);
  padding: 10px;
  overflow: scroll;

  padding: 3px;
  margin: 3px;
}
aside{
  position: absolute;
  width: 300px;
  height: calc(100% - 12px);
  border-left: 1px solid black;
  right: 0;

}
